!openapi*
*.json
__pycache__
*.csv
*.pyc

scratchpad.py
research
vue-frontend
runs
env

store/*
store.*/*
tests/store

env
trader/
mongoCon.json
mongoConfig/
run_test.py
run.py

try.py
*.pt
evosim
*.prof
*.log
public
.pytest_cache
