<div
  class="esd-stripe"
  align="center"
  style="background: #f0f0f0; padding: 20px"
>
  <table
    class="es-content-body"
    width="600"
    cellspacing="0"
    cellpadding="0"
    bgcolor="#ffffff"
    align="center"
    style="margin: auto; padding: 24px; border-radius: 4px"
  >
    <tbody>
      <tr>
        <td class="esd-structure es-p20t es-p20b es-p20r es-p20l" align="left">
          <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td
                  class="esd-container-frame"
                  width="560"
                  valign="top"
                  align="center"
                >
                  <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td
                          align="center"
                          class="esd-block-image"
                          style="font-size: 0px; padding-bottom: 20px"
                        >
                          <a target="_blank">
                            <img
                              class="adapt-img"
                              src="https://igbkqw.stripocdn.email/content/guids/CABINET_4b1fbacef75cd54480de32b27c92a781/images/63021599485891951.png"
                              alt
                              style="display: block"
                              width="250"
                            />
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="esd-block-spacer es-p10"
                          style="font-size: 0"
                        >
                          <table
                            border="0"
                            width="50%"
                            height="100%"
                            cellpadding="0"
                            cellspacing="0"
                          >
                            <tbody>
                              <tr>
                                <td
                                  style="
                                    border-bottom: 0px solid #cccccc;
                                    background: none;
                                    height: 1px;
                                    width: 100%;
                                    margin: 0px;
                                  "
                                ></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="esd-block-text es-p15b"
                          align="left"
                          style="padding-bottom: 20px"
                        >
                          <h2 style="font-size: 18px; font-family: roboto">
                            <strong>Welcome aboard 🚀</strong>
                          </h2>
                        </td>
                      </tr>
                      <tr>
                        <td
                          class="esd-block-text es-p20t"
                          align="left"
                          style="padding-bottom: 20px"
                        >
                          <p style="font-family: Roboto">
                            Thank you for joining OB Trader - the next-gen
                            AI-based cryptocurrency trading platform.<br /><br />
                            Click the button to set your password below and
                            let's start crushing it with One Button 🤖🤖<br />
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="esd-block-button"
                          style="padding-bottom: 0; padding-top: 10px"
                        >
                          <span
                            class="es-button-border"
                            style="
                              background: #69a6d7;
                              border-bottom-width: 0px;
                            "
                          >
                            <a
                              href="[[link]]"
                              class="es-button"
                              target="_blank"
                              style="
                                padding-left: 30px;
                                padding-right: 30px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                background: rgb(52, 118, 235);
                                border-radius: 5px;
                                text-decoration: none;
                                color: white;
                                background: rgba(52, 118, 235, 1);

                                font-family: roboto;
                                font-weight: 500;
                                letter-spacing: 0.0892857143em;
                              "
                            >
                              SET PASSWORD
                            </a>
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td
                          align="center"
                          class="esd-block-text es-p5"
                          style="
                            padding-top: 18px;
                            color: #464646;
                            font-family: roboto;
                            font-size: 13px;
                          "
                        >
                          Or copy this link into your browser: [[link]]
                        </td>
                      </tr>

                      <tr>
                        <td align="center" class="esd-block-text es-p5">
                          <div
                            style="
                              color: #a2a0a0;
                              font-family: roboto;
                              font-size: 11px;
                              margin-top: 8px;
                            "
                          >
                            This link will expire in 7 days.
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" class="esd-block-text padding-top: 0;">
                          <span style="font-family: roboto">
                            Best regards,<br />Team One Button
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="font-family: roboto; font-size: 12px; margin-top: 16px">
    &#169; 2022 OB Trading
  </div>
</div>
